<div class="container">
    <div class="row">    
        <div class="col-4 mt-4 ">
        <div class="form-group">
                <label for="" class="">Registration <span class="abc">*</span> </label>
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]='email'>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-4"> 
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]='password'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-4">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]='confirmPassword'>
            </div>
        </div>
    </div>
    <button mat-flat-button color='accent' (click)='registration()'>SUBMIT</button>
</div>
