.menu {
    display: flex;
    flex-direction: column;
    height: 10%;
}

.item {
    padding: 5px;
}

.submenu {
    display: flex;
    cursor: pointer;
    border: 0;
}

.submenu:hover {
    background-color: rgb(212, 235, 211);
  }