<mat-sidenav-container class="main">
  <mat-sidenav #menu mode="push" position="start">
    <div class="menu">
      <div *ngIf='isLoggedIn' class="item">
        <i> {{cs.loggedInUser$ | async}}</i>
      </div>
      <div class="submenu" routerLink='home' (click)='menu.close()'>
        <div class="item">
          <span class="material-icons">
            home
          </span>
        </div>
        <div class="item">Home
        </div>
      </div>
      <div class="submenu" routerLink='myprofile' (click)='menu.close()' *ngIf='isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            account_circle
          </span>
        </div>
        <div class="item"> My Profile</div>
      </div>
      <div class="submenu" routerLink='chat' (click)='menu.close()' *ngIf='isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            chat
          </span>
        </div>
        <div class="item">Chat</div>
      </div>
      <div class="submenu" routerLink='search' (click)='menu.close()' *ngIf='isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            search
          </span>
        </div>
        <div class="item">Search</div>
      </div>
      <div class="submenu" routerLink='favorite' (click)='menu.close()' *ngIf='isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            favorite
          </span>
        </div>
        <div class="item">
          Favorites
        </div>
      </div>
      <div class="submenu" routerLink='blocked' *ngIf='isLoggedIn' (click)='menu.close()'>
        <div class="item">
          <span class="material-icons">
            block
          </span>
        </div>
        <div class="item">Blocked
        </div>
      </div>
      <div class="submenu" routerLink='changepassword' *ngIf='isLoggedIn' (click)='menu.close()'>
        <div class="item">
          <span class="material-icons">
            password
          </span>
        </div>
        <div class="item">Change Password
        </div>
      </div>
      <div class="submenu" routerLink='contactus' *ngIf='isLoggedIn' (click)='menu.close()'>
        <div class="item">
          <span class="material-icons">
            mail
          </span>
        </div>
        <div class="item">Contact Us
        </div>
      </div>
      <div class="submenu" routerLink='register' *ngIf='!isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            how_to_reg
          </span>
        </div>
        <div class="item">Register</div>
      </div>
      <div class="submenu" routerLink='login' *ngIf='!isLoggedIn'>
        <div class="item">
          <span class="material-icons">
            login
          </span>
        </div>
        <div class="item">Login
        </div>
      </div>
      <div class="submenu" *ngIf='isLoggedIn' (click)='menu.close();logOut()' style="cursor: pointer;">
        <div class="item"><span class="material-icons">
            logout
          </span></div>
        <div class="item">LogOut</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <span class="material-icons" (click)='menu.open()' style="cursor: pointer;">dehaze</span>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <div class="header">
  <a routerLink=''>Home</a>
  <a class="submenu" routerLink='login' *ngIf='!isLoggedIn'>Login</a>
  <a class="submenu" routerLink='register' *ngIf='!isLoggedIn'>Register</a>
  <a routerLink='forgotpassword'>Forgot Password</a>
  <a routerLink='contactus'>Contact Us</a>
  <a routerLink='myprofile'>MyProfile</a>
  
  <a routerLink='search'>Search</a>
  <a routerLink='chat'>Chat</a>
  <a routerLink='favorite'>Favourite</a>
  <a routerLink='locked'>Blocked</a>
  <a *ngIf='isLoggedIn' (click)='logOut()' style="cursor: pointer;">LogOut</a>
  
  
</div> -->